.isPressed{
    -fx-background-color: burlywood;
}
.notPressed{
    -fx-background-color: lightblue;
}

.toggle-button {
    -fx-background-color: lightblue;
}

.requestOK{
    -fx-background-color: lightgreen;
}
